<IfModule mod_rewrite.c>
    RewriteEngine On

    # Если запрос не к существующему файлу или директории, перенаправляем его в public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
